//Début App-body-top

.App-body-right {
  background-color: $primary_background_color;
  color: $primary_text_color;
  width: 100%;
  display: flex;
  flex-direction: column;
  img {
    width: 100%;
  }
  .App-body-right-div{
    @include margin_l_and_r;

  }
  .App-body-right-div-two {
    @include margin_l_and_r;
    display: flex;
    flex-direction: column-reverse;
  }
  .App-body-right-div-text {
    background-color: $primary_text_color;
    p {
      color: $secondary_text_color;
    }
    padding: 5rem;
    a {
      color: $tertiary_background_color;
    }
  }

  @media screen and (min-width: $sm-breakpoint) {
      margin: 0%;
      height: 100vh;
      width: 100%;
      flex-direction: row;
      .App-body-right-div {
        margin: 0;
        height: 100vh;
        width: 100vh;
        align-self: center;
        img{
          height: 100vh;
        }
      }
      .App-body-right-div-two{
        margin: 0;
        width: 70%;
      }
      .App-body-right-div-img-two {
        height: 74vh;
        overflow: hidden;
        }
    .App-body-right-div-text {
      padding-top: 2rem;
    }
  }
}

// Fin App-body-top
