@import "variables";
@import "reset";
@import "mixins";


.App-portefolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: $primary_background_color;

}

.div_Carousel {
    background-color: $primary_background_color;
    color: $primary_text_color;
    text-align: center;
 width: 100%;
 margin: 1rem;
 .div_image{
     img{
     width: 100%;
 }
 }
    .div_text {
    border-radius: 20px;
        z-index: 2;
        top: 20rem;
        background-color: $primary_background_color;
        padding: 2rem;
        align-self: center;
        a {
            color: $tertiary_text_color;
        }
    }
}

@media screen and (min-width:$lg-breakpoint ) and (max-width:$xl-breakpoint){

    
}


@media screen and (min-width: $xl-breakpoint) {

    .div_Carousel{
        width: 40%;
    
    }
}