// Breakpoints
$xs-breakpoint: 575px;
$sm-breakpoint: 768px;
$md-breakpoint: 991px;
$lg-breakpoint: 1199px;
$xl-breakpoint: 1690px;

// Color

$primary_background_color:#8C6B65;
$secondary_background_color:#402924;
$tertiary_background_color:#A6785D;
$quaternary_background_color:rgba(190, 186, 184,0.8);

$primary_text_color:#D9D9D9;
$secondary_text_color:#191919;
$tertiary_text_color:#2C402F;