// Breakpoints
$xs-breakpoint: 575px;
$sm-breakpoint: 767px;
$md-breakpoint: 991px;
$lg-breakpoint: 1199px;


// Color

$primary_background_color:#8C6B65;
$secondary_background_color:#402924;
$tertiary_background_color:#A6785D;

$primary_text_color:#D9D9D9;
$secondary_text_color:#191919;
$tertiary_text_color:#2C402F;