@import "variables";
@import "reset";
@import "mixins";
@import "header";
@import "not_found";
@import "body_left";
@import "body_right";
@import "app_top";
@import"carousel";
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@800&display=swap");


  .Button-ant-design {
    align-self: center;
    margin-top: 2rem;
    background-color: $tertiary_text_color;
    color: $primary_text_color;
    &:hover,
    &:focus {
      border-color: $tertiary_text_color;
      color: $tertiary_text_color;
      background-color: $primary_text_color;
    }

  
  }


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
