@import "variables";
@import "reset";
@import "mixins";
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@800&display=swap");


// Début Not Found

.Page_not_found {
  font-family: "Martel", serif;
  height: 100vh;
  background-image: url(../img/P&B2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  .Page_not_found_h1 {
    h1 {
      color: $primary_text_color;
    }
    align-self: flex-end;
    margin-right: 10rem;
  }
  .Page_not_found_link {
    align-self: center;
    margin-bottom: 1.2rem;
  }
  @media screen and (min-width: $sm-breakpoint) {
    background-image: url(../img/Berlioz.jpg);
    background-size: cover;
    .Page_not_found_h1 {
      align-self: center;
      margin-right: 0;
      h1 {
        color: $secondary_text_color;
      }
    }
  }
}

//Fin Not Found

// Début header
.App-header {
  background-color: $primary_background_color;
}
.App-header-div {
  @include margin_l_and_r;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: flex-start;
  img {
    width: 10rem;
  }
  .App-header-nav {
    ul {
      display: flex;
      width: 100%;
      padding-left: 2rem;
      li {
        padding-right: 2rem;
        a {
          font-size: 2rem;
          color: $tertiary_text_color;

        }
      }
    }
  }

  @media screen and (min-width: $sm-breakpoint) {
    background-color: $primary_background_color;
    display: flex;
    justify-content: space-around;
    ul {
      display: flex;
    }
  }
}

//Fin header

//Début App-body-top
.App-body-top {
  background-color: $primary_background_color;
  color: $primary_text_color;
 
  .App-body-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5rem;
    h1 {
      margin-top: 2rem;
      font-size: 4rem;
      text-transform: uppercase;
      color: $primary_text_color;
    }
    h2 {
      font-size: 2.5rem;
      text-transform: uppercase;
      color: $primary_text_color;
    }
    p {
      @include margin_l_and_r;
      font-size: 1.7rem;
    }
   
  }
  .App-body-middle {
    @include margin_l_and_r;
    img {
      width: 100%;
    }
    .App-body-middle-div-text {
      background-color: $primary_text_color;
      p {
        color: $secondary_text_color;
      }
      padding: 5rem;
      a {
        color: $tertiary_background_color;
      }
    }
  }
  @media screen and (min-width: $sm-breakpoint) {
    .App-body-left {
      max-width: 40%;
    }
    display: flex;
    .App-body-middle {
      display: flex;
      margin: 0;
      height: 100vh;
      .App-body-middle-div {
        width: 60%;
      }
      .App-body-middle-div-img {
        height: 70vh;
        overflow: hidden;
      }
      .App-body-middle-div-text {
        height: 30vh;
      }
    }
    .App-body-middle-div_two {
      display: flex;
      flex-direction: column-reverse;
  .App-body-middle-div-text{
    padding-top: 2rem;
  }
    }
  }
}

// Fin App-body-top


//Début Tea_modal
.ant-modal-body{
 
}
//Fin Tea_modal

//Début Button-ant-design
.Button-ant-design{
  margin-top: 2rem;
  background-color: $tertiary_text_color;
  color: $primary_text_color;
  &:hover,&:focus {
    border-color: $tertiary_text_color;
    color:$tertiary_text_color;
  background-color: $primary_text_color;
  }
 
  @media screen and (min-width: $sm-breakpoint) {
  margin-top: 0rem;
  }
}
//Fin Button-ant-design


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
